@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
  scroll-behavior: smooth;
}

.jumbotron {
  /* opacity: 0%;
  transition: opacity 2000ms; */

  background: url(https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0;

  animation: jumbotronFadeIn 2500ms;
}

.jumbotron .container {
  border-radius: 0.5rem;
  backdrop-filter: blur(3px);
}

.jumbotron p {
  font-weight: 500;
}

@keyframes jumbotronFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card .badge {
  top: -7px;
  left: -7px;
}

#review_container .badge {
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0%;
}

#review_container tr:hover .badge {
  animation: deleteBadgeFadeIn 700ms;
  opacity: 100%;
}

@keyframes deleteBadgeFadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#review_container tr:nth-child(2n) {
  background-color: #21883728;
}

#review_container tr:nth-child(2n):hover {
  background-color: #21883763;
}

#review_container table + div button:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
}
